<div class="container">
	<div class="col-6 pt-4 mt-3">
		<h1> @ViewBag.CheckoutCompleteMessage </h1>
		<h2>
			Order Details
		</h2>
		<ul>

			<li>
				Order Number:
			</li>
			<li>Order Date: </li>

			<li>Name: </li>
			<li>Phone Number: </li>



		</ul>
	</div>

</div>